/*
** Style du module Views Ipp
*/

.views-ipp-form {

display: none;
}

.views-ipp-links {

color: #000;
}

.views-ipp-links .views-ipp-link {

text-decoration: none;
padding: 0px 5px;
border-right: 1px solid #000;
color: #000;
}

.views-ipp-links .views-ipp-link.active {

font-weight: bold;
}

.views-ipp-links .views-ipp-link.last {

border-right: none;
}